<!DOCTYPE html>
<html>

<head>

    <title>HireHub - My Applications</title>

</head>

<body>

    <h1>HireHub</h1>

    <h2>My Applications</h2>

    {% if applications %}

        {% for application in applications %}

            <hr>

            <h3>
                {{ application.job.title }}
            </h3>

            <p>
                <strong>Company:</strong>
                {{ application.job.company.name }}
            </p>

            <p>
                <strong>Location:</strong>
                {{ application.job.location }}
            </p>

            <p>
                <strong>Cover Letter:</strong>
                {{ application.cover_letter }}
            </p>

            <p>
                <strong>Status:</strong>
                {{ application.get_status_display }}
            </p>

            <p>
                <strong>Applied On:</strong>
                {{ application.applied_at }}
            </p>

        {% endfor %}

    {% else %}

        <p>
            You have not applied for any job yet.
        </p>

    {% endif %}

    <br>

    <a href="{% url 'job_list' %}">
        Browse Jobs
    </a>

    <br><br>

    <a href="{% url 'role_home' %}">
        Dashboard
    </a>

</body>

</html>