<!DOCTYPE html>
<html>

<head>

    <title>HireHub - Applications</title>

</head>

<body>

    <h1>HireHub</h1>

    <h2>Received Applications</h2>


    {% if applications %}

        {% for application in applications %}

            <hr>

            <h3>
                {{ application.job.title }}
            </h3>

            <p>
                <strong>Applicant:</strong>
                {{ application.seeker.username }}
            </p>

            <p>
                <strong>Email:</strong>
                {{ application.seeker.email }}
            </p>

            <p>
                <strong>Company:</strong>
                {{ application.job.company.name }}
            </p>

            <p>
                <strong>Cover Letter:</strong>
                {{ application.cover_letter }}
            </p>

            <p>
                <strong>Current Status:</strong>
                {{ application.get_status_display }}
            </p>

            <p>
                <strong>Applied On:</strong>
                {{ application.applied_at }}
            </p>


            <form
                method="POST"
                action="{% url 'update_application_status' application.id %}"
            >

                {% csrf_token %}

                <label>
                    Change Status:
                </label>

                <select name="status">

                    <option value="pending">
                        Pending
                    </option>

                    <option value="shortlisted">
                        Shortlisted
                    </option>

                    <option value="rejected">
                        Rejected
                    </option>

                    <option value="selected">
                        Selected
                    </option>

                </select>

                <button type="submit">
                    Update Status
                </button>

            </form>

        {% endfor %}

    {% else %}

        <p>
            No applications received yet.
        </p>

    {% endif %}


    <br>

    <a href="{% url 'job_list' %}">
        Jobs
    </a>

    <br><br>

    <a href="{% url 'role_home' %}">
        Dashboard
    </a>

</body>

</html>