{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>HireHub - Delete Job</title>
</head>

<body>

    <h1>HireHub</h1>

    <h2>Delete Job</h2>

    <p>
        Are you sure you want to delete
        <strong>{{ job.title }}</strong>?
    </p>

    <p>
        Company:
        {{ job.company.name }}
    </p>

    <form method="POST">

        {% csrf_token %}

        <button type="submit">
            Yes, Delete Job
        </button>

    </form>

    <br>

    <a href="{% url 'job_detail' job.id %}">
        Cancel
    </a>

    <br><br>

    <a href="{% url 'job_list' %}">
        Back to Jobs
    </a>

</body>

</html>